@import "tailwindcss";
@theme {
    --color-vtpurple: #782c44;
    --color-vtorange: #b74e2f;
    --color-vtgray: #918c89;
}

@layer base{
    html{
        @apply bg-vtpurple;
        width:100%;
    }
}
